/emby-connector.iml
/voice-actionizer/voice-actionizer.iml
/installation/ansible/.vagrant/bundler/global.sol
/installation/ansible/.vagrant/machines/default/virtualbox/action_provision
/installation/ansible/.vagrant/machines/default/virtualbox/action_set_name
/installation/ansible/.vagrant/machines/default/virtualbox/box_meta
/installation/ansible/.vagrant/machines/default/virtualbox/creator_uid
/installation/ansible/.vagrant/machines/default/virtualbox/id
/installation/ansible/.vagrant/machines/default/virtualbox/index_uuid
/installation/ansible/.vagrant/machines/default/virtualbox/private_key
/installation/ansible/.vagrant/machines/default/virtualbox/synced_folders
/installation/ansible/.vagrant/machines/default/virtualbox/vagrant_cwd
/installation/ansible/.vagrant/provisioners/ansible/inventory/vagrant_ansible_inventory
/installation/ansible/.vagrant/rgloader/loader.rb
/.direnv
/homehome.iml
